/* Write your CSS here */
.list-team-cont {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.RCB {
  background-color: #a4261d;
}
.KKR {
  background-color: #5755a7;
}
.KXP {
  background-color: #d91c1f;
}
.CSK {
  background-color: #f7db00;
}
.RR {
  background-color: #da237b;
}
.MI {
  background-color: #13418b;
}
.SH {
  background-color: #f26d22;
}
.DC {
  background-color: #4f5db0;
}
.team-card {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-banner {
  width: 100%;
}
.latest-match-title {
  color: #ffffff;
  font-family: 'Bree Serif';
}
.match-card-lists {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
